body{
    background-color:#161613;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:visited:hover{
    color: #161613;
}
a:hover{
    color: #161613;
}
.fondo_verde{
    background-color: #c0db5a;
    height: 20px;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.caja_Proyecto{
    float: left;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.caja_Proyecto span{
    color:#c0db5a;
}
.menu{
    list-style: none;
    padding-left: 3px;
}
.menu > li{
    background-color:#363633;
    margin-bottom: 2px;
    padding: 2px;
    font-weight: 600;
}
.menu > li:hover{
    background-color: #c0db5a;
    color: black;
    cursor: pointer;
    font-weight: 700;
}
.resumen{
    border: 2px solid gray;
    width: 247px;
}
.caja_scroll{
    margin-left: 290px;
    overflow: auto;
    box-sizing: border-box;
    z-index: 0;
    
}
.caja_scroll > h2{
    color:#c0db5a;
}
.curvada{
    font-style: italic;
}
.lista1 > p > strong{
    color:#c0db5a;
}
.lista1 li{
    list-style: square;
}
.caja_ejemplo{
    border-top: #363633 3px solid;
    border-bottom: #363633 3px solid;
}
.caja_ejemplo h2{
    color:#c0db5a;
}
.imagenes img{
    border:#363633 solid 2px;
    border-bottom: #363633 solid 15px;
    background-color: #363633;
    margin-bottom: 20px;
}
.imagenes p{
    color:#c0db5a;
    font-weight: 600;
}
.instrucciones_uso h2{
    color:#c0db5a;
}
.instrucciones_uso h3{
    color:#c0db5a;
}
.instrucciones_uso li{
    list-style-type: decimal;
}
.instrucciones_uso li > p{
    background-color: black;
    color:#80923c;
    border-left:5px solid #363633;
    padding: 10px;
}
.descarga{
    border-top: #363633 3px solid;
    border-bottom: #363633 3px solid;
}
.descarga h2{
    color:#c0db5a;
}
.caja_descarga h1{
    background-color: #363633;
    padding: 3px;
}
.caja_descarga h1 > span{
    color:#c0db5a;
}
.caja_descarga ul > p{
    color:#c0db5a;
    font-weight: 700;
}
.caja_descarga ul li{
    list-style: square;
}
.contacto h2{
    color:#c0db5a;
}
.contacto span{
    color: forestgreen;
}
.bibliografia{
    border-top: #363633 solid 3px;
}
.bibliografia h2{
    color:#c0db5a;
}
.bibliografia div > p:nth-of-type(1){
    color: forestgreen;   
}
.bibliografia div > p{
    font-weight: 700;
}
.bibliografia div > p:nth-of-type(2){
    border-bottom: #363633 dashed 2px;
    padding-bottom: 15px;
}