.green{
  border: #3b7c1f 5px solid;
}
.blue{
  border: blue 5px solid;
}
.red{
  border: red 5px solid;
}
.orange{
  border: orange 5px solid;
}
.yellow{
  border: yellow 5px solid;
}
.cyan{
  border: cyan 5px solid;
}
