<app-barra-navegacion></app-barra-navegacion>
<!--
  En este apartado haré una portada de Bienvenida,
  si el usuario pulsa en alguna de las opciones de la barra 
  de navegación nos cambiará la imagen
-->
<div class="cajaBienvenida">
  <div>
    <h1>Hola, bienvenido a mi portfolio</h1>
    <div>
      <ul id="redesTrabajo">
        <li>Infojobs</li> <!-- Incluir los enlaces mañana -->
        <li>Linkedin</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>