<div class="cajaBienvenida">
    <div>
      <h1>Hola, bienvenido a mi portfolio</h1>
      <p>Aquí dejo mi perfil de Linkedin y mi repositorio de Github</p>
      <div>
        <ul id="redesTrabajo">
          <li><a href="https://www.linkedin.com/in/jer%C3%B3nimo-g%C3%B3mez-rodulfo-castro-50537a282" target="_blank" ><img src="../assets/icons8-linkedin-32.png" alt=""></a></li>
          <li><a href="https://github.com/JeronimoGRC/Mis-Proyectos"><img src="../assets/github-mark-white.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>